ENV=local
NODE_ENV=local
TZ=Asia/Jakarta
PORT=3005
ADMIN_PASSWORD=@Coba123

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=db_portofolio
DATABASE_USER=root
DATABASE_PASSWORD=test

REDIS_URL="redis://localhost:6379"
REDIS_PASSWORD="test"

MINIO_ENDPOINT=127.0.0.1
MINIO_BUCKET=dev
MINIO_ACCESS_KEY=test
MINIO_SECRET_KEY=test

JWT_SECRET=localSecret
JWT_REFRESH_SECRET=localRefreshSecret